body {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #FFFFCC;
}
table, th, td{
	padding: 10px;
}
.center{
	margin: auto;
	width: 70%;
	border: 3px solid black;
	padding: 10px;
}
.cent{
	margin: auto;
	width: 70%;
	
	
}